.login-container {
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  animation: fadeIn 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-base);
  color: var(--color-text);
  background: linear-gradient(180deg, #fff5ff, #f9f1ff);
}
.login-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  padding: 2.5rem 3rem;
  width: 380px;
  text-align: center;
  transition: all 0.3s ease;
}
.login-card h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 0.9rem;
  font-family: var(--font-heading);
  color: var(--color-text);
}
.subtitle {
  color: var(--color-text-secondary);
  font-size: 1.05rem;
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.input-group input {
  width: 100%;
  padding: 1.2rem 0.8rem 1.2rem 2.5rem;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #f8f8f8;
  font-size: 1.1rem;
  outline: none;
  transition: all 0.2s ease;
}
.input-group input:focus {
  border-color: #a855f7;
  background: #fff;
  box-shadow: 0 0 0 2px rgba(168, 85, 247, 0.15);
}
.input-icon {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
}
.error {
  position: absolute;
  bottom: -25px;
  left: 3px;
  color: var(--color-error);
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.error.visible {
  opacity: 1;
}
.btn-login {
  background: linear-gradient(
    90deg,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  color: white;
  font-family: var(--font-heading);
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 0.7rem;
  cursor: pointer;
  transition: background var(--transition);
  &:hover {
    background: linear-gradient(
      90deg,
      var(--color-secondary-hover),
      var(--color-primary-hover)
    );
    opacity: 0.9;
  }
}
.separator {
  margin: 0.5rem 0;
  color: var(--color-text-secondary);
  font-size: 1rem;
}
.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  gap: 0.6rem;
  padding: 0.9rem;
  border-radius: 6px;
  font-weight: 500;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  transition: background var(--transition);
  &:hover {
    color: white;
    background: linear-gradient(
      90deg,
      var(--color-secondary-hover),
      var(--color-primary-hover)
    );
    opacity: 0.9;
  }
}
.server {
  margin-bottom: 0.7rem;
}
.forgot-password {
  width: 100%;
  text-align: right;
  margin-top: -5px;
  margin-bottom: 5px;
  a {
    color: var(--color-primary);
    font-size: inherit;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
    &:hover {
      text-decoration: underline;
      color: #9333ea;
    }
  }
}
.login-card.loading {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
}
.locked-icon {
  margin-right: 8px;
  font-size: 1rem;
  opacity: 0.9;
}
.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--color-text-secondary);
  transition: color 0.2s ease;
  opacity: 0.6;

  &:hover {
    opacity: 0.9;
    color: var(-color-text);
  }
}
.input-group input {
  padding-right: 2.7rem;
}
.register-link {
  text-align: center;
  margin-top: 1.3rem;
  margin-bottom: -3px;
  a {
    color: var(--color-primary);
    font-size: inherit;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
    &:hover {
      text-decoration: underline;
      color: var(-color-text);
    }
  }
}
